{% extends "base.html" %}

{% block content %}

{% load static %}
<link href="{% static 'css/progress.css' %}" rel="stylesheet">

<div class="canvas">
    <div class="sidebar">
        <a href="{% url 'account' %}">
            <img src="https://img.icons8.com/cotton/64/null/gender-neutral-user--v3.png"/ alt="Account Settings" title="Account Settings">
        </a>
        <a href="{% url 'settings' %}">
            <img src="https://img.icons8.com/cotton/64/null/chat.png" alt="Chat Settings" title="Chat Settings"  style="opacity: 0.5">
        </a>
        <a href="{% url 'integrations' %}">
            <img src="https://img.icons8.com/cotton/64/null/puzzle.png" alt="Integrations" title="Integrations" style="opacity: 0.5">
        </a>
    </div>
    <div class="content ">
        <h2 class="title">Hey there, {{ user.email }}</h2>
        <hr>
        
        {% if user.is_premium %}
            <h2 class="text">You are susbcribed to the premium plan.</h2>
            <p>You are currently subscribed to the Premium Plan. To cancel your subscription, click the button below:</p>
            <form id="cancel-subscription-form">
                <button type="submit" class="flat-button">Cancel Subscription</button>
            </form>
        {% else %}
            <h2 class="text">You are on the free plan.</h2>
            <p class="small-text">The free plan has a limited number of questions that can be asked. Your remaining quota is shown below.</p>
            <div class="progress-container">                
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <span class="progress-text" id="progress-text"></span>
            <br>
            <h2 class="text">What you get on the Premium Plan.</h2>
            <p class="small-text">The premium plan has no limit on the number of questions that can be asked.</p>
            <p class="small-text">Subscribe today for £4.99 a month.</p>
            <form id="subscription-form">
                <button type="submit" class="flat-button" id="subscribe-button">Subscribe to Premium Plan</button>
            </form>
        {% endif %}
               
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const maxQuestions = parseInt('{{ max_questions }}');
        const remainingQuestions = parseInt('{{ remaining_questions }}');
        const progressBar = document.getElementById("progress-bar");
        const progressText = document.getElementById("progress-text");

        const progressPercentage = (remainingQuestions / maxQuestions) * 100;
        progressBar.style.width = progressPercentage + "%";
        progressText.textContent = `${remainingQuestions} questions remaining`;
    });


    const stripe = Stripe('pk_test_51N5VPxH451kFmPn7Fm1rnn9AaV9tlRIQTq0RyX21CButGRuUbrKv0W7YQ6lYEQa3TTEDzf9eOuK40MWE1LVf5ILh00nZ4PqDXL');

    // For new subscription
    const subscriptionForm = document.getElementById('subscription-form');
    if (subscriptionForm) {
        document.getElementById('subscribe-button').addEventListener('click', async () => {
            event.preventDefault();
            const response = await fetch('/account/create-checkout-session/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            });
            
            const data = await response.json();
            stripe.redirectToCheckout({ sessionId: data.sessionId });
        });
    }

    // For canceling the subscription
    const cancelSubscriptionForm = document.getElementById('cancel-subscription-form');
    if (cancelSubscriptionForm) {
        cancelSubscriptionForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            const response = await fetch('/account/cancel-subscription/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            });

            if (response.ok) {
                location.reload();
            } else {
                console.error('Failed to cancel subscription');
            }
        });
    }
</script>

{% endblock %}

