{% extends "base.html" %}

{% block content %}

<div class="canvas">

    <div class="small-content">
        
        <!-- Title -->
        <div class="title-box">
            <h1 class="title">Marla</h1>
            <p class="marketing-text">A simple, configurable <br>chatbot for your website.</p>
        </div>           
            
        <div class="space-around">

            <!-- Login -->       
            <form id="loginForm" method="post">
                {% csrf_token %}
                <div class="vertical-stack section">
                    <p class="center-text"><b>Enter your email to get started</b></p>
                    <div id="login-form" class="horizontal-stack" style="margin-top: 15px;">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" aria-label="Email">
                        <button type="submit" class="btn flat-button" style="margin-left: 25px;">Portal</button>
                    </div>
                </div>
            </form>  

        </div>     
    </div>
</div>

<!-- Include Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    document.getElementById('loginForm').addEventListener('submit', async (event) => {
        event.preventDefault();
        
        const form = event.target;
        const emailInput = document.getElementById('email');
        const email = emailInput.value;
        const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        const response = await fetch('{% url "send_login_code" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken,
            },
            body: new URLSearchParams({ email }),
        });

        if (response.ok) {
            // Update the form to show the code textbox and change the button to handle code validation
            emailInput.remove();
            const codeInput = document.createElement('input');
            codeInput.type = 'text';
            codeInput.name = 'code';
            codeInput.classList.add('form-control');
            codeInput.placeholder = 'Enter the code';
            // Insert codeInput before the button.
            document.getElementById('login-form').insertBefore(codeInput, form.querySelector('button'));    

            // Remove event listener from the submit button.
            form.removeEventListener('submit', event => {});
            
            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const code = codeInput.value;
                const response = await fetch('{% url "validate_login_code" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrfToken,
                    },
                    body: new URLSearchParams({ email, code }),
                });

                if (response.ok) {
                    // Redirect the user to the desired page after successful login
                    window.location.href = '{% url "settings" %}';
                } else {
                    // Display an error message
                    alert('Invalid login code. Please try again.');
                }
            });
            

            form.querySelector('button').textContent = 'Validate Code';
        } else {
            // Display an error message
            alert('Error sending the login code. Please try again.');
        }
    });

    /* Handle submission of questions/answers to Marla. */
    document.addEventListener('DOMContentLoaded', () => {
        const questionInput = document.getElementById('question-input');
        const submitButton = document.getElementById('submit-question');
        
        // Default question and answer.
        displayAnswer("<p>Take it for a spin.</p>", "<p></p>");
        
        submitButton.addEventListener('click', async () => {

            // Fetch and capitalize the first letter of the question.
            const question = questionInput.value.trim().charAt(0).toUpperCase() + questionInput.value.trim().slice(1);
            
            // Clear the questionInput.
            questionInput.value = '';

            if (question) {

                const loadingIndicator = `
                    <div style="width: 100%; display: flex; justify-content: center;">                   
                        <div class="dot-pulse"></div> 
                    </div>`

                

                // Update the UI to show the question and loading indicator.
                displayAnswer(question, loadingIndicator)
                
                // Fetch the answer and update UI.
                const answer = await fetchQuestion(question);
                displayAnswer(question, 'Marla: "<i>' + answer + '</i>"');
            } else {
                questionInput.placeholder = "Please enter a question.";
            }
        });
    });

    async function fetchQuestion(question) {
        console.log(`Fetching answer for question: ${question}`)
        const response = await fetch('/api/ask/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ question: question, api_key: '8a38f335-8efb-4191-803e-36c8d15cfc20' })
        });

        if (response.ok) {
            const data = await response.json();
            return data.answer;
        } else {
            throw new Error(`Error: ${response.statusText}`);
        }
    }

    /* Updates the Marla UI with the question and answer. */
    function displayAnswer(question, answer) {

        // Get the UI elements.
        const answerContainer = document.getElementById('answer-container');
        const questionContainer = document.getElementById('question-container');

        answerContainer.innerHTML = answer;        
        questionContainer.innerHTML = question;
    }

</script>
{% endblock %}

